[Desktop Entry]
Type=Application
Name=SVN Delete
Exec=svn delete %f
Categories=Other;
NoDisplay=true
MimeType=text/plain
Terminal=true
X-KeepTerminal=true
