[Desktop Entry]
Type=Application
Name=SVN Commit
Exec=svn commit
Categories=Other;
NoDisplay=true
MimeType=inode/directory
Terminal=true
X-KeepTerminal=true
